@using BTL_ASPdotNet.Models
@model LoginViewModel
@{
	Layout = "/Views/Shared/_HomeUser.cshtml";
	ViewBag.Title = "Log in";
}

<section class="header_text sub">
	<img class="pageBanner" src="~/Content/themes/images/pageBanner.png" alt="New products">
	<h4><span>Login</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span5">
			<h4 class="title"><span class="text"><strong>Login</strong> Form</span></h4>
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
				@Html.AntiForgeryToken()
				<input type="hidden" name="next" value="/">
				<fieldset>
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							@*<input type="text" placeholder="Enter your username" id="username" class="input-xlarge">*@
							@Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge", placeholder = "Enter your username" })
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Passwrod</label>
						<div class="controls">
							@*<input type="password" placeholder="Enter your password" id="password" class="input-xlarge">*@
							@Html.PasswordFor(m => m.Password, new { @class = "input-xlarge", placeholder = "Enter your password" })
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<div class="checkbox">
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
							</div>
						</div>
					</div>
					<div class="control-group">
						<input tabindex="3" class="btn btn-inverse large" type="submit" value="Sign into your account">
						<hr>
						<p class="reset">Recover your <a tabindex="4" href="ForgotPassword" title="Recover your username or password">username or password</a></p>
					</div>
				</fieldset>
            }
		</div>
		<div class="span7">
			<h4 class="title"><span class="text"><strong>Welcome to</strong> My website</span></h4>
			<iframe class="tscplayer_inline" id="embeddedSmartPlayerInstance" src="~/IntroVideoHTML/IntroVideoHTML_player.html?embedIFrameId=embeddedSmartPlayerInstance" scrolling="no" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
</section>
<section id="socialLoginForm">
	@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>
