@using System.Globalization
@using BTL_ASPdotNet.Helpers
@model BTL_ASPdotNet.Models.ProductsViewModel
@{
	ViewBag.Title = "Products";
	Layout = "~/Views/Shared/_UserView.cshtml";
}

<div class="span9">
	<ul class="thumbnails listing-products">
		@foreach (var item in Model.products)
		{
			<li class="span3">
				<div class="product-box">
					<span class="sale_tag"></span>
					<a href="@Url.Action("ProductDetail", "Product", new { aliases = item.Aliases, @ID = item.ProductID })"><img alt="" src="~/Content/ProductImages/@(item.Image.Trim().Split('.')[0] + ".jpg")"></a><br />
					<a href="@Url.Action("ProductDetail", "Product", new { aliases = item.Aliases, @ID = item.ProductID })" class="title">@(item.ProductName.Split(':').Length > 1 ? item.ProductName.Split(':')[1] : item.ProductName )</a><br />
					<a href="#" class="category">@item.GroupProduct.GroupName</a>
					<p class="price">@(String.Format(CultureInfo.InvariantCulture, "{0:N0}", item.Price)) vnđ</p>
				</div>
			</li>
		}
	</ul>
	<hr>
	<div class="pagination pagination-small pagination-centered">
		<ul>
			<li>@Html.ActionLink("Pre", "ProductList", "Product", new { page = 1, state = ViewBag.State, category = ViewBag.Category }, null)</li>
			@Html.PageLinks(Model.pagingInfo, tmp => Url.Action("ProductList", new { page = tmp, state = ViewBag.State, category = ViewBag.Category }))
			@*<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>*@
			<li>@Html.ActionLink("Next", "ProductList", "Product", new { page = Model.pagingInfo.CurrentPage + 1, state = ViewBag.State, category = ViewBag.Category }, null)</li>
		</ul>
	</div>
</div>
